#header {
  padding: 0.5rem;
  color: #ffffff;
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid var(--bg-color-list);
}

#body {
  padding: 0.5rem;
}

.list {
  margin: 0.25rem;
  padding: 0.5rem;
  width: 20rem;
  color: var(--text-color-active);
  background-color: var(--bg-color-list);
  border-radius: 0.25rem;
}

.list-heading {
  padding: 0.25rem;
  font-weight: 1000;
}

.card {
  margin: 0.75rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
}

.card-text {
  padding: 0.5rem;
  color: var(--text-color-active);
  background-color: #ffffff;
  border-radius: 0.25rem;
}
